/* border guidline (comment out before submitting)
* {
  border: 0.5px dashed dimgrey;
}
*/

body {
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 33px
}

h3 {
  font-size: 1.17em;
}

a {
  color: seashell;
}
