header {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 69px;
  padding-left: 10px;
  border-bottom: 1px solid seashell;
  z-index: 2;
  font-size: 22px;
}

.logo {
  height: 50px;
}

.logo img {
  height: 50px;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 10px;
}

nav span {
  padding: 20px 10px;
  display: inline-block;
}

main {
  width: 1200px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  padding-top: 70px;
  opacity: 0.9;
  z-index: 1;
  margin: auto;
}

#mission {
  background-image: url(../media/img-mission-background.jpg);
  width: 100%;
  height: 700px;
}

#locations {
  background-image: url(../media/img-locations-background.jpg);
  height: 500px;
}

#tea {
  margin: 50px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
}

.content.mission {
  background-color: black;
}

.content.tea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locations {
  display: flex;
}

.location {
  margin: 5px 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  background-color: black;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.teapod {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding-bottom: 10px;
}

.teapod img {
  height: 200px;
  width: 300px;
  padding: 5px;
  margin: 10px;
}

#contact {
  text-align: center;
  height: 200px;
  padding:
}
